<html>
{{> header}}
<body>
<h1>Projects Page</h1>
<a href="/">Home</a>  <!--linking to various other pages have a note of the / syntax which resembles the route defined in the server.js file-->
<a href="/about">About</a>
<p>{{message}}</p>
{{> footer}}
</body>
</html>